In [2]:
import pandas as pd
srs_a = pd.Series([1,3,6,8,9])
srs_b = pd.Series(['red', 'green', 'blue', 'white', 'black'])
df = pd.DataFrame({'a': srs_a, 'b': srs_b})
df.head()

   a      b
0  1    red
1  3  green
2  6   blue
3  8  white
4  9  black

In [9]:
df.loc[2, 1]
# 'blue'
# df.loc[3, 'a']

KeyError: 1

In [10]:
import pandas as pd
srs_a = pd.Series([10,30,60,80,90])
srs_b = pd.Series([22, 44, 55, 77, 101])
df = pd.DataFrame({'a': srs_a, 'b': srs_b})
df

    a    b
0  10   22
1  30   44
2  60   55
3  80   77
4  90  101

In [11]:
df.sum()

a    270
b    299
dtype: int64

In [12]:
df.sum(axis = 0)

a    270
b    299
dtype: int64

In [13]:
df.sum(axis = 1)

0     32
1     74
2    115
3    157
4    191
dtype: int64

In [14]:
df.sum(axis = 'index')

a    270
b    299
dtype: int64

In [17]:
df.sum(axis = 'rows')

a    270
b    299
dtype: int64

In [18]:
df.sum(axis = 'columns')

0     32
1     74
2    115
3    157
4    191
dtype: int64

In [19]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'a': [2, np.nan, 8, 3], 'b': [np.nan, 32, 15, 7], 'c': [-3, 5, 22, 19]})
df

     a     b   c
0  2.0   NaN  -3
1  NaN  32.0   5
2  8.0  15.0  22
3  3.0   7.0  19

In [20]:
df.dropna()

     a     b   c
2  8.0  15.0  22
3  3.0   7.0  19

In [21]:
df.dropna(axis=0)

     a     b   c
2  8.0  15.0  22
3  3.0   7.0  19

In [22]:
df.dropna(axis=1)

    c
0  -3
1   5
2  22
3  19

In [24]:
df1 = pd.DataFrame({'a': [1,3,6,8,9], 'b': ['red', 'green', 'blue', 'white', 'black']})
df1

   a      b
0  1    red
1  3  green
2  6   blue
3  8  white
4  9  black

In [26]:
df2 = pd.DataFrame({'a': [0,2,4,5,7], 'b': ['jun', 'jul', 'aug', 'sep', 'oct']})
df2

   a    b
0  0  jun
1  2  jul
2  4  aug
3  5  sep
4  7  oct

In [29]:
pd.concat(df1, df2)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [33]:
pd.concat([df1, df2])

   a      b
0  1    red
1  3  green
2  6   blue
3  8  white
4  9  black
0  0    jun
1  2    jul
2  4    aug
3  5    sep
4  7    oct

In [35]:
pd.concat([df1, df2], axis = 0)

   a      b
0  1    red
1  3  green
2  6   blue
3  8  white
4  9  black
0  0    jun
1  2    jul
2  4    aug
3  5    sep
4  7    oct

In [36]:
pd.concat([df1, df2], axis = 1)

   a      b  a    b
0  1    red  0  jun
1  3  green  2  jul
2  6   blue  4  aug
3  8  white  5  sep
4  9  black  7  oct